*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url(bg.jpg) no-repeat center center;
    height: 100vh;
    position: relative;
}

.open{
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 1rem;
    padding: 15px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    transition: 0.5s;
}
.open:hover{
    color: black;
    background-color: white;
}

.modal{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 70%;
    left: 60%;
    background-color: white;
    height: 60px;
    width: 160px;
    padding: 10px;
    border-radius: 5px;
    animation: drop 0.5s ;
}

p{
    font-size: 1.3rem;
    margin-top: 5px;
}

.close{
    font-size: 2rem;
    cursor: pointer;
    background-color: white;
    border: none;
}

.close:hover{
    color: red;
}

.container{
    display: none;
    position: fixed;
    /* full window  */
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, .2);
}

/* animation keyframe */
@keyframes drop{
    from{
        /* minusing height of the modal  */
        top: -100px;
        opacity: 0;
    }
    to{
        top: 70%;
        opacity: 1;
    }
}